.form {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.form-row {
}

.form-row > label {
}

.form-row  > input {
}

.form-row.flex-row {
    flexždi
}

.form-row.flex-row > a {
}




