body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif
}

body {
    background-color: #F6F7FF;
  

}

.b ackground {
    height: 100vh;
    background-image: url(../img/Pramogu-parkas.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(1px);
  }

main {
    width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.left-column {
    width: 40%;
    float: left;
    background-color: #FFFFFF
}

.fcuksense { 
    display: inline-block;
    margin-top: 50px;
    font-size: 30px;
    color:#3852FF;
}

.black-text {
    display: inline-block;
    margin-top: 90px;
    font-size: 20px;
    line-height: 40px;
    text-transform: capitalize;
    color: #233052;
 
}

.grey-text {
    margin-top: 20px;
    color: #8A8C99;

}

.grey-text > span {
    text-transform:capitalize;

}

.bottom-links {
    margin-top: 20px;
    display:flex;
    flex-direction: row;
    gap: 30px;
    font-size: 15px;


}

.alternative {
    color: #7F8CA1;


}

.bottom-links > a {
    text-decoration: none;
    color: #3752F8;
    
}



.right-column { 
    float: right;
    width: 55%;
    background-color: red;
}

img {
    width: 140%;
    height: 1
}



